
.site-header {
	background-color: $secondary;
	@include gridle_parent ( ); 
	color: white;
	a {
		color: white;
		&:hover {
			color: black;
		}
	}
}
.site-content {
	padding-top: 20px;
}
.site-branding {
	@include gridle( 4 , sm );
}
.main-navigation {
	@include gridle( 8 , sm );
}