/*!
Theme Name: tyr
Theme URI: http://underscores.me/
Author: William Hollowell
Author URI: http://hollowell.se
Description: Main theme for OK Tyr
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: tyr
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

tyr is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,700);
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/
.container:after {
  content: "";
  display: table;
  clear: both;
  border-spacing: 0; }

.parent:before, .parent-xs:before, .parent-sm:before, .parent-md:before, .parent-lg:before, .site-header:before, .parent:after, .parent-xs:after, .parent-sm:after, .parent-md:after, .parent-lg:after, .site-header:after {
  content: "";
  display: table;
  border-spacing: 0; }
.parent:after, .parent-xs:after, .parent-sm:after, .parent-md:after, .parent-lg:after, .site-header:after {
  clear: both; }
.parent, .parent-xs, .parent-sm, .parent-md, .parent-lg, .site-header {
  zoom: 1; }

.push-0, .push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-xs-0, .push-xs-1, .push-xs-2, .push-xs-3, .push-xs-4, .push-xs-5, .push-xs-6, .push-xs-7, .push-xs-8, .push-xs-9, .push-xs-10, .push-xs-11, .push-xs-12, .push-sm-0, .push-sm-1, .push-sm-2, .push-sm-3, .push-sm-4, .push-sm-5, .push-sm-6, .push-sm-7, .push-sm-8, .push-sm-9, .push-sm-10, .push-sm-11, .push-sm-12, .push-md-0, .push-md-1, .push-md-2, .push-md-3, .push-md-4, .push-md-5, .push-md-6, .push-md-7, .push-md-8, .push-md-9, .push-md-10, .push-md-11, .push-md-12, .push-lg-0, .push-lg-1, .push-lg-2, .push-lg-3, .push-lg-4, .push-lg-5, .push-lg-6, .push-lg-7, .push-lg-8, .push-lg-9, .push-lg-10, .push-lg-11, .push-lg-12, .pull-0, .pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-xs-0, .pull-xs-1, .pull-xs-2, .pull-xs-3, .pull-xs-4, .pull-xs-5, .pull-xs-6, .pull-xs-7, .pull-xs-8, .pull-xs-9, .pull-xs-10, .pull-xs-11, .pull-xs-12, .pull-sm-0, .pull-sm-1, .pull-sm-2, .pull-sm-3, .pull-sm-4, .pull-sm-5, .pull-sm-6, .pull-sm-7, .pull-sm-8, .pull-sm-9, .pull-sm-10, .pull-sm-11, .pull-sm-12, .pull-md-0, .pull-md-1, .pull-md-2, .pull-md-3, .pull-md-4, .pull-md-5, .pull-md-6, .pull-md-7, .pull-md-8, .pull-md-9, .pull-md-10, .pull-md-11, .pull-md-12, .pull-lg-0, .pull-lg-1, .pull-lg-2, .pull-lg-3, .pull-lg-4, .pull-lg-5, .pull-lg-6, .pull-lg-7, .pull-lg-8, .pull-lg-9, .pull-lg-10, .pull-lg-11, .pull-lg-12 {
  position: relative; }

.container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.parent, .parent-xs, .parent-sm, .parent-md, .parent-lg, .site-header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.grid-0, .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-xs-0, .grid-xs-1, .grid-xs-2, .grid-xs-3, .grid-xs-4, .grid-xs-5, .grid-xs-6, .grid-xs-7, .grid-xs-8, .grid-xs-9, .grid-xs-10, .grid-xs-11, .grid-xs-12, .grid-sm-0, .grid-sm-1, .grid-sm-2, .grid-sm-3, .grid-sm-4, .grid-sm-5, .grid-sm-6, .grid-sm-7, .grid-sm-8, .grid-sm-9, .grid-sm-10, .grid-sm-11, .grid-sm-12, .grid-md-0, .grid-md-1, .grid-md-2, .grid-md-3, .grid-md-4, .grid-md-5, .grid-md-6, .grid-md-7, .grid-md-8, .grid-md-9, .grid-md-10, .grid-md-11, .grid-md-12, .grid-lg-0, .grid-lg-1, .grid-lg-2, .grid-lg-3, .grid-lg-4, .grid-lg-5, .grid-lg-6, .grid-lg-7, .grid-lg-8, .grid-lg-9, .grid-lg-10, .grid-lg-11, .grid-lg-12, .site-branding, .main-navigation, .site-main, .widget-area {
  display: inline-block;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * Str replace
 *
 * @param {string}  $string    String that you want to replace
 * @param {string}  $substr    String that is to be replaced by `$newsubstr`
 * @param {string}  $newsubstr String that replaces `$substr`
 * @param {number*} $all       Flag for replaceing all (1+) or not (0)
 * @return {string}
 */
/**
 * Map set
 *
 * @param 	Map 	$map 		The map to use
 * @param 	String 	$key 		The key to update
 * @param 	Mixed 	$value 		The new value
 * @return 	Map 			The new map
 */
/**
 * Get the column width in percent for the global or a specific context
 *
 * @param 	int 		$columns 					The number of columns to calculate
 * @param 	int 		$context : $gridle-columns-count 	 	The context to use
 * @return 	percentage 							The width in percent
 */
/**
 *  Get a state map
 *
 * @param 	string 		$name 		The name of the state to get
 * @return 	map 				A state map object
 */
/**
 * Check if a state exist :
 *
 * @param 	string 		$name 		The name of the state to check
 * @return 	Boolean 			true is exist
 */
/**
 * Get the media queries variables :
 *
 * @param 	int 		$index 	 	The media query indes
 * @param 	String 		$var 		The media query variable name
 * @return 	String|int 			The variable value
 */
/**
 * Get a variable
 *
 * @param 	String 		$varName 				The variable name
 * @param  	String 		$stateMap-or-stateName 	 	The state name or a map state value
 * @return 	Mixed 							The finded value
 */
/**
 * Set a variable in a state
 * @param 	Mixed $stateName-or-stateIndex 	The state name of state index
 * @param  	String $var                    		Variable name to assign
 * @param  	Mixed $newValue          		The new value to assign
 * @return 	List                         			The states list (full)
 */
/**
 * Generate a column
 *
 * @param 	String 		$name 			The column name (often count)
 * @param 	int 		$columns 		The column count that the column will take
 * @param 	int 		$context 		The context on witch the with will be calculed
 * @param 	Boolean 	$generateClasses 	Set if the column has to be generated in css
 */
/**
 * Generate classname
 *
 * @param 	List 		$parrern 	The pattern to use to generate classname
 * @param 	String 		$state 		The state
 * @param 	int 		$count 		The column count
 */
/**
 * Get the media query for a particular state, or with, etc...
 *
 * @param 	Mixed 		$state-or-min-width 		The state name of the min with
 * @param 	Mixed 		$max-width 			The max width if first param is a min width
 * @return 	String 						The media query string without the @media
 */
/**
 * Get states count
 * 
 * @return 	int 	The number of states defined
 */
/**
 * Setup
 */
/**
 *  Register a clear each class
 */
/**
 * Register a special class
 */
/**
 * Register default states
 */
/**
 * Register default mobile first states :
 */
/**
 * Set the debug device (not used for now)
 * 
 * @param 	String 		$state 		The state to update
 * @para m 	String 		$device 	The device to use (iphone, etc...)
 */
/**
 * Parent clear each
 */
/**
 * Vertical align :
 */
/**
 * Show inline
 *
 * @param 	String 		$state 		The state name
 */
/**
 * Generate a custom class for all the states
 *
 * @param 	list 	$pattern 		The name pattern of the class
 * @param 	list 	$statesNames 		The states names to generate
 */
@media screen and (max-width: 768px) {
  [class*="grid-"] {
    width: 100%; } }

@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: device-width; } }
#gridle-settings {
  content: '{ "version" : "1.3.40", "states" : { "retina":{ "query" : "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)", "classes" : false, "name" : "retina", "_gridle" : true }, "tv":{ "query" : "only tv", "classes" : false, "name" : "tv", "_gridle" : true }, "print":{ "query" : "only print", "classes" : false, "name" : "print", "_gridle" : true }, "portrait":{ "query" : "only screen and (orientation: portrait)", "classes" : false, "name" : "portrait", "_gridle" : true }, "landscape":{ "query" : "only screen and (orientation: landscape)", "classes" : false, "name" : "landscape", "_gridle" : true }, "default":{ "name" : "default", "min-width" : null, "max-width" : null, "query" : null, "classes" : true, "context" : "12", "gutter-width" : "20px", "direction" : "ltr", "name-multiplicator" : "1", "debug" : false, "debug-show-class-names" : true, "ie7-support" : false, "html-states-classes" : false, "generate-push-classes" : true, "generate-pull-classes" : true, "generate-prefix-classes" : true, "generate-suffix-classes" : true, "generate-helpers-classes" : true, "_gridle" : true }, "xs":{ "name" : "xs", "min-width" : null, "max-width" : "768px", "query" : "screen and (max-width: 768px)", "classes" : true, "context" : "12", "gutter-width" : "20px", "direction" : "ltr", "name-multiplicator" : "1", "debug" : false, "debug-show-class-names" : true, "ie7-support" : false, "html-states-classes" : false, "generate-push-classes" : true, "generate-pull-classes" : true, "generate-prefix-classes" : true, "generate-suffix-classes" : true, "generate-helpers-classes" : true, "_gridle" : true }, "sm":{ "name" : "sm", "min-width" : "768px", "max-width" : null, "query" : "screen and (min-width: 768px)", "classes" : true, "context" : "12", "gutter-width" : "20px", "direction" : "ltr", "name-multiplicator" : "1", "debug" : false, "debug-show-class-names" : true, "ie7-support" : false, "html-states-classes" : false, "generate-push-classes" : true, "generate-pull-classes" : true, "generate-prefix-classes" : true, "generate-suffix-classes" : true, "generate-helpers-classes" : true, "_gridle" : true }, "md":{ "name" : "md", "min-width" : "992px", "max-width" : null, "query" : "screen and (min-width: 992px)", "classes" : true, "context" : "12", "gutter-width" : "20px", "direction" : "ltr", "name-multiplicator" : "1", "debug" : false, "debug-show-class-names" : true, "ie7-support" : false, "html-states-classes" : false, "generate-push-classes" : true, "generate-pull-classes" : true, "generate-prefix-classes" : true, "generate-suffix-classes" : true, "generate-helpers-classes" : true, "_gridle" : true }, "lg":{ "name" : "lg", "min-width" : "1200px", "max-width" : null, "query" : "screen and (min-width: 1200px)", "classes" : true, "context" : "12", "gutter-width" : "20px", "direction" : "ltr", "name-multiplicator" : "1", "debug" : false, "debug-show-class-names" : true, "ie7-support" : false, "html-states-classes" : false, "generate-push-classes" : true, "generate-pull-classes" : true, "generate-prefix-classes" : true, "generate-suffix-classes" : true, "generate-helpers-classes" : true, "_gridle" : true }} }'; }

.grid-0, .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-xs-0, .grid-xs-1, .grid-xs-2, .grid-xs-3, .grid-xs-4, .grid-xs-5, .grid-xs-6, .grid-xs-7, .grid-xs-8, .grid-xs-9, .grid-xs-10, .grid-xs-11, .grid-xs-12, .grid-sm-0, .grid-sm-1, .grid-sm-2, .grid-sm-3, .grid-sm-4, .grid-sm-5, .grid-sm-6, .grid-sm-7, .grid-sm-8, .grid-sm-9, .grid-sm-10, .grid-sm-11, .grid-sm-12, .grid-md-0, .grid-md-1, .grid-md-2, .grid-md-3, .grid-md-4, .grid-md-5, .grid-md-6, .grid-md-7, .grid-md-8, .grid-md-9, .grid-md-10, .grid-md-11, .grid-md-12, .grid-lg-0, .grid-lg-1, .grid-lg-2, .grid-lg-3, .grid-lg-4, .grid-lg-5, .grid-lg-6, .grid-lg-7, .grid-lg-8, .grid-lg-9, .grid-lg-10, .grid-lg-11, .grid-lg-12 {
  float: left;
  direction: ltr;
  padding-left: 10px;
  padding-right: 10px; }

.grid-0 {
  width: 0%; }

.push-0 {
  left: 0%; }

.pull-0 {
  right: 0%; }

.prefix-0 {
  margin-left: 0%; }

.suffix-0 {
  margin-right: 0%; }

.grid-1 {
  width: 8.3333333333%; }

.push-1 {
  left: 8.3333333333%; }

.pull-1 {
  right: 8.3333333333%; }

.prefix-1 {
  margin-left: 8.3333333333%; }

.suffix-1 {
  margin-right: 8.3333333333%; }

.grid-2 {
  width: 16.6666666667%; }

.push-2 {
  left: 16.6666666667%; }

.pull-2 {
  right: 16.6666666667%; }

.prefix-2 {
  margin-left: 16.6666666667%; }

.suffix-2 {
  margin-right: 16.6666666667%; }

.grid-3 {
  width: 25%; }

.push-3 {
  left: 25.0%; }

.pull-3 {
  right: 25.0%; }

.prefix-3 {
  margin-left: 25.0%; }

.suffix-3 {
  margin-right: 25.0%; }

.grid-4 {
  width: 33.3333333333%; }

.push-4 {
  left: 33.3333333333%; }

.pull-4 {
  right: 33.3333333333%; }

.prefix-4 {
  margin-left: 33.3333333333%; }

.suffix-4 {
  margin-right: 33.3333333333%; }

.grid-5 {
  width: 41.6666666667%; }

.push-5 {
  left: 41.6666666667%; }

.pull-5 {
  right: 41.6666666667%; }

.prefix-5 {
  margin-left: 41.6666666667%; }

.suffix-5 {
  margin-right: 41.6666666667%; }

.grid-6 {
  width: 50%; }

.push-6 {
  left: 50.0%; }

.pull-6 {
  right: 50.0%; }

.prefix-6 {
  margin-left: 50.0%; }

.suffix-6 {
  margin-right: 50.0%; }

.grid-7 {
  width: 58.3333333333%; }

.push-7 {
  left: 58.3333333333%; }

.pull-7 {
  right: 58.3333333333%; }

.prefix-7 {
  margin-left: 58.3333333333%; }

.suffix-7 {
  margin-right: 58.3333333333%; }

.grid-8 {
  width: 66.6666666667%; }

.push-8 {
  left: 66.6666666667%; }

.pull-8 {
  right: 66.6666666667%; }

.prefix-8 {
  margin-left: 66.6666666667%; }

.suffix-8 {
  margin-right: 66.6666666667%; }

.grid-9 {
  width: 75%; }

.push-9 {
  left: 75.0%; }

.pull-9 {
  right: 75.0%; }

.prefix-9 {
  margin-left: 75.0%; }

.suffix-9 {
  margin-right: 75.0%; }

.grid-10 {
  width: 83.3333333333%; }

.push-10 {
  left: 83.3333333333%; }

.pull-10 {
  right: 83.3333333333%; }

.prefix-10 {
  margin-left: 83.3333333333%; }

.suffix-10 {
  margin-right: 83.3333333333%; }

.grid-11 {
  width: 91.6666666667%; }

.push-11 {
  left: 91.6666666667%; }

.pull-11 {
  right: 91.6666666667%; }

.prefix-11 {
  margin-left: 91.6666666667%; }

.suffix-11 {
  margin-right: 91.6666666667%; }

.grid-12 {
  width: 100%; }

.push-12 {
  left: 100.0%; }

.pull-12 {
  right: 100.0%; }

.prefix-12 {
  margin-left: 100.0%; }

.suffix-12 {
  margin-right: 100.0%; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clear {
  clear: both; }

.clear-left {
  clear: left; }

.clear-right {
  clear: right; }

.no-gutter,
.no-margin {
  padding-left: 0;
  padding-right: 0; }

.no-gutter-left,
.no-margin-left {
  padding-left: 0; }

.no-gutter-right,
.no-margin-right {
  padding-right: 0; }

.no-gutter-top,
.no-margin-top {
  padding-top: 0; }

.no-gutter-bottom,
.no-margin-bottom {
  padding-bottom: 0; }

.gutter,
.margins {
  padding-left: 10px;
  padding-right: 10px; }

.gutter-left,
.margin-left {
  padding-left: 10px; }

.gutter-right,
.margin-right {
  padding-right: 10px; }

.gutter-top,
.margin-top {
  padding-top: 10px; }

.gutter-bottom,
.margin-bottom {
  padding-bottom: 10px; }

.auto-height {
  height: inherit; }

.centered {
  display: block !important;
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
  clear: both !important; }

.parent {
  padding-left: 0;
  padding-right: 0; }

.vertical-align-middle {
  font-size: 0;
  clear: both; }
  .vertical-align-middle > * {
    display: inline-block;
    float: none !important;
    vertical-align: middle;
    font-size: 1rem; }

.vertical-align-top {
  font-size: 0;
  clear: both; }
  .vertical-align-top > * {
    display: inline-block;
    float: none !important;
    vertical-align: top;
    font-size: 1rem; }

.vertical-align-bottom {
  font-size: 0;
  clear: both; }
  .vertical-align-bottom > * {
    display: inline-block;
    float: none !important;
    vertical-align: bottom;
    font-size: 1rem; }

/**
 * Visible, hide, etc...
 */
.hide {
  display: none; }

.not-visible {
  visibility: hidden; }

.show {
  display: block; }

.show-inline {
  display: inline-block; }

.visible {
  visibility: visible; }

/**
 * Clear each class :
 */
@media screen and (max-width: 768px) {
  .grid-xs-0 {
    width: 0%; }

  .push-xs-0 {
    left: 0%; }

  .pull-xs-0 {
    right: 0%; }

  .prefix-xs-0 {
    margin-left: 0%; }

  .suffix-xs-0 {
    margin-right: 0%; }

  .grid-xs-1 {
    width: 8.3333333333%; }

  .push-xs-1 {
    left: 8.3333333333%; }

  .pull-xs-1 {
    right: 8.3333333333%; }

  .prefix-xs-1 {
    margin-left: 8.3333333333%; }

  .suffix-xs-1 {
    margin-right: 8.3333333333%; }

  .grid-xs-2 {
    width: 16.6666666667%; }

  .push-xs-2 {
    left: 16.6666666667%; }

  .pull-xs-2 {
    right: 16.6666666667%; }

  .prefix-xs-2 {
    margin-left: 16.6666666667%; }

  .suffix-xs-2 {
    margin-right: 16.6666666667%; }

  .grid-xs-3 {
    width: 25%; }

  .push-xs-3 {
    left: 25.0%; }

  .pull-xs-3 {
    right: 25.0%; }

  .prefix-xs-3 {
    margin-left: 25.0%; }

  .suffix-xs-3 {
    margin-right: 25.0%; }

  .grid-xs-4 {
    width: 33.3333333333%; }

  .push-xs-4 {
    left: 33.3333333333%; }

  .pull-xs-4 {
    right: 33.3333333333%; }

  .prefix-xs-4 {
    margin-left: 33.3333333333%; }

  .suffix-xs-4 {
    margin-right: 33.3333333333%; }

  .grid-xs-5 {
    width: 41.6666666667%; }

  .push-xs-5 {
    left: 41.6666666667%; }

  .pull-xs-5 {
    right: 41.6666666667%; }

  .prefix-xs-5 {
    margin-left: 41.6666666667%; }

  .suffix-xs-5 {
    margin-right: 41.6666666667%; }

  .grid-xs-6 {
    width: 50%; }

  .push-xs-6 {
    left: 50.0%; }

  .pull-xs-6 {
    right: 50.0%; }

  .prefix-xs-6 {
    margin-left: 50.0%; }

  .suffix-xs-6 {
    margin-right: 50.0%; }

  .grid-xs-7 {
    width: 58.3333333333%; }

  .push-xs-7 {
    left: 58.3333333333%; }

  .pull-xs-7 {
    right: 58.3333333333%; }

  .prefix-xs-7 {
    margin-left: 58.3333333333%; }

  .suffix-xs-7 {
    margin-right: 58.3333333333%; }

  .grid-xs-8 {
    width: 66.6666666667%; }

  .push-xs-8 {
    left: 66.6666666667%; }

  .pull-xs-8 {
    right: 66.6666666667%; }

  .prefix-xs-8 {
    margin-left: 66.6666666667%; }

  .suffix-xs-8 {
    margin-right: 66.6666666667%; }

  .grid-xs-9 {
    width: 75%; }

  .push-xs-9 {
    left: 75.0%; }

  .pull-xs-9 {
    right: 75.0%; }

  .prefix-xs-9 {
    margin-left: 75.0%; }

  .suffix-xs-9 {
    margin-right: 75.0%; }

  .grid-xs-10 {
    width: 83.3333333333%; }

  .push-xs-10 {
    left: 83.3333333333%; }

  .pull-xs-10 {
    right: 83.3333333333%; }

  .prefix-xs-10 {
    margin-left: 83.3333333333%; }

  .suffix-xs-10 {
    margin-right: 83.3333333333%; }

  .grid-xs-11 {
    width: 91.6666666667%; }

  .push-xs-11 {
    left: 91.6666666667%; }

  .pull-xs-11 {
    right: 91.6666666667%; }

  .prefix-xs-11 {
    margin-left: 91.6666666667%; }

  .suffix-xs-11 {
    margin-right: 91.6666666667%; }

  .grid-xs-12 {
    width: 100%; }

  .push-xs-12 {
    left: 100.0%; }

  .pull-xs-12 {
    right: 100.0%; }

  .prefix-xs-12 {
    margin-left: 100.0%; }

  .suffix-xs-12 {
    margin-right: 100.0%; }

  .float-xs-left {
    float: left; }

  .float-xs-right {
    float: right; }

  .clear-xs {
    clear: both; }

  .clear-xs-left {
    clear: left; }

  .clear-xs-right {
    clear: right; }

  .no-gutter-xs,
  .no-margin-xs {
    padding-left: 0;
    padding-right: 0; }

  .no-gutter-xs-left,
  .no-margin-xs-left {
    padding-left: 0; }

  .no-gutter-xs-right,
  .no-margin-xs-right {
    padding-right: 0; }

  .no-gutter-xs-top,
  .no-margin-xs-top {
    padding-top: 0; }

  .no-gutter-xs-bottom,
  .no-margin-xs-bottom {
    padding-bottom: 0; }

  .gutter-xs,
  .margins-xs {
    padding-left: 10px;
    padding-right: 10px; }

  .gutter-xs-left,
  .margin-xs-left {
    padding-left: 10px; }

  .gutter-xs-right,
  .margin-xs-right {
    padding-right: 10px; }

  .gutter-xs-top,
  .margin-xs-top {
    padding-top: 10px; }

  .gutter-xs-bottom,
  .margin-xs-bottom {
    padding-bottom: 10px; }

  .auto-height-xs {
    height: inherit; }

  .centered-xs {
    display: block !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    clear: both !important; }

  .parent-xs {
    padding-left: 0;
    padding-right: 0; }

  .vertical-align-xs-middle {
    font-size: 0;
    clear: both; }
    .vertical-align-xs-middle > * {
      display: inline-block;
      float: none !important;
      vertical-align: middle;
      font-size: 1rem; }

  .vertical-align-xs-top {
    font-size: 0;
    clear: both; }
    .vertical-align-xs-top > * {
      display: inline-block;
      float: none !important;
      vertical-align: top;
      font-size: 1rem; }

  .vertical-align-xs-bottom {
    font-size: 0;
    clear: both; }
    .vertical-align-xs-bottom > * {
      display: inline-block;
      float: none !important;
      vertical-align: bottom;
      font-size: 1rem; }

  /**
   * Visible, hide, etc...
   */
  .hide-xs {
    display: none; }

  .not-visible-xs {
    visibility: hidden; }

  .show-xs {
    display: block; }

  .show-inline-xs {
    display: inline-block; }

  .visible-xs {
    visibility: visible; }

  /**
   * Clear each class :
   */ }
@media screen and (min-width: 768px) {
  .grid-sm-0 {
    width: 0%; }

  .push-sm-0 {
    left: 0%; }

  .pull-sm-0 {
    right: 0%; }

  .prefix-sm-0 {
    margin-left: 0%; }

  .suffix-sm-0 {
    margin-right: 0%; }

  .grid-sm-1 {
    width: 8.3333333333%; }

  .push-sm-1 {
    left: 8.3333333333%; }

  .pull-sm-1 {
    right: 8.3333333333%; }

  .prefix-sm-1 {
    margin-left: 8.3333333333%; }

  .suffix-sm-1 {
    margin-right: 8.3333333333%; }

  .grid-sm-2 {
    width: 16.6666666667%; }

  .push-sm-2 {
    left: 16.6666666667%; }

  .pull-sm-2 {
    right: 16.6666666667%; }

  .prefix-sm-2 {
    margin-left: 16.6666666667%; }

  .suffix-sm-2 {
    margin-right: 16.6666666667%; }

  .grid-sm-3 {
    width: 25%; }

  .push-sm-3 {
    left: 25.0%; }

  .pull-sm-3 {
    right: 25.0%; }

  .prefix-sm-3 {
    margin-left: 25.0%; }

  .suffix-sm-3 {
    margin-right: 25.0%; }

  .grid-sm-4 {
    width: 33.3333333333%; }

  .push-sm-4 {
    left: 33.3333333333%; }

  .pull-sm-4 {
    right: 33.3333333333%; }

  .prefix-sm-4 {
    margin-left: 33.3333333333%; }

  .suffix-sm-4 {
    margin-right: 33.3333333333%; }

  .grid-sm-5 {
    width: 41.6666666667%; }

  .push-sm-5 {
    left: 41.6666666667%; }

  .pull-sm-5 {
    right: 41.6666666667%; }

  .prefix-sm-5 {
    margin-left: 41.6666666667%; }

  .suffix-sm-5 {
    margin-right: 41.6666666667%; }

  .grid-sm-6 {
    width: 50%; }

  .push-sm-6 {
    left: 50.0%; }

  .pull-sm-6 {
    right: 50.0%; }

  .prefix-sm-6 {
    margin-left: 50.0%; }

  .suffix-sm-6 {
    margin-right: 50.0%; }

  .grid-sm-7 {
    width: 58.3333333333%; }

  .push-sm-7 {
    left: 58.3333333333%; }

  .pull-sm-7 {
    right: 58.3333333333%; }

  .prefix-sm-7 {
    margin-left: 58.3333333333%; }

  .suffix-sm-7 {
    margin-right: 58.3333333333%; }

  .grid-sm-8 {
    width: 66.6666666667%; }

  .push-sm-8 {
    left: 66.6666666667%; }

  .pull-sm-8 {
    right: 66.6666666667%; }

  .prefix-sm-8 {
    margin-left: 66.6666666667%; }

  .suffix-sm-8 {
    margin-right: 66.6666666667%; }

  .grid-sm-9 {
    width: 75%; }

  .push-sm-9 {
    left: 75.0%; }

  .pull-sm-9 {
    right: 75.0%; }

  .prefix-sm-9 {
    margin-left: 75.0%; }

  .suffix-sm-9 {
    margin-right: 75.0%; }

  .grid-sm-10 {
    width: 83.3333333333%; }

  .push-sm-10 {
    left: 83.3333333333%; }

  .pull-sm-10 {
    right: 83.3333333333%; }

  .prefix-sm-10 {
    margin-left: 83.3333333333%; }

  .suffix-sm-10 {
    margin-right: 83.3333333333%; }

  .grid-sm-11 {
    width: 91.6666666667%; }

  .push-sm-11 {
    left: 91.6666666667%; }

  .pull-sm-11 {
    right: 91.6666666667%; }

  .prefix-sm-11 {
    margin-left: 91.6666666667%; }

  .suffix-sm-11 {
    margin-right: 91.6666666667%; }

  .grid-sm-12 {
    width: 100%; }

  .push-sm-12 {
    left: 100.0%; }

  .pull-sm-12 {
    right: 100.0%; }

  .prefix-sm-12 {
    margin-left: 100.0%; }

  .suffix-sm-12 {
    margin-right: 100.0%; }

  .float-sm-left {
    float: left; }

  .float-sm-right {
    float: right; }

  .clear-sm {
    clear: both; }

  .clear-sm-left {
    clear: left; }

  .clear-sm-right {
    clear: right; }

  .no-gutter-sm,
  .no-margin-sm {
    padding-left: 0;
    padding-right: 0; }

  .no-gutter-sm-left,
  .no-margin-sm-left {
    padding-left: 0; }

  .no-gutter-sm-right,
  .no-margin-sm-right {
    padding-right: 0; }

  .no-gutter-sm-top,
  .no-margin-sm-top {
    padding-top: 0; }

  .no-gutter-sm-bottom,
  .no-margin-sm-bottom {
    padding-bottom: 0; }

  .gutter-sm,
  .margins-sm {
    padding-left: 10px;
    padding-right: 10px; }

  .gutter-sm-left,
  .margin-sm-left {
    padding-left: 10px; }

  .gutter-sm-right,
  .margin-sm-right {
    padding-right: 10px; }

  .gutter-sm-top,
  .margin-sm-top {
    padding-top: 10px; }

  .gutter-sm-bottom,
  .margin-sm-bottom {
    padding-bottom: 10px; }

  .auto-height-sm {
    height: inherit; }

  .centered-sm {
    display: block !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    clear: both !important; }

  .parent-sm {
    padding-left: 0;
    padding-right: 0; }

  .vertical-align-sm-middle {
    font-size: 0;
    clear: both; }
    .vertical-align-sm-middle > * {
      display: inline-block;
      float: none !important;
      vertical-align: middle;
      font-size: 1rem; }

  .vertical-align-sm-top {
    font-size: 0;
    clear: both; }
    .vertical-align-sm-top > * {
      display: inline-block;
      float: none !important;
      vertical-align: top;
      font-size: 1rem; }

  .vertical-align-sm-bottom {
    font-size: 0;
    clear: both; }
    .vertical-align-sm-bottom > * {
      display: inline-block;
      float: none !important;
      vertical-align: bottom;
      font-size: 1rem; }

  /**
   * Visible, hide, etc...
   */
  .hide-sm {
    display: none; }

  .not-visible-sm {
    visibility: hidden; }

  .show-sm {
    display: block; }

  .show-inline-sm {
    display: inline-block; }

  .visible-sm {
    visibility: visible; }

  /**
   * Clear each class :
   */ }
@media screen and (min-width: 992px) {
  .grid-md-0 {
    width: 0%; }

  .push-md-0 {
    left: 0%; }

  .pull-md-0 {
    right: 0%; }

  .prefix-md-0 {
    margin-left: 0%; }

  .suffix-md-0 {
    margin-right: 0%; }

  .grid-md-1 {
    width: 8.3333333333%; }

  .push-md-1 {
    left: 8.3333333333%; }

  .pull-md-1 {
    right: 8.3333333333%; }

  .prefix-md-1 {
    margin-left: 8.3333333333%; }

  .suffix-md-1 {
    margin-right: 8.3333333333%; }

  .grid-md-2 {
    width: 16.6666666667%; }

  .push-md-2 {
    left: 16.6666666667%; }

  .pull-md-2 {
    right: 16.6666666667%; }

  .prefix-md-2 {
    margin-left: 16.6666666667%; }

  .suffix-md-2 {
    margin-right: 16.6666666667%; }

  .grid-md-3 {
    width: 25%; }

  .push-md-3 {
    left: 25.0%; }

  .pull-md-3 {
    right: 25.0%; }

  .prefix-md-3 {
    margin-left: 25.0%; }

  .suffix-md-3 {
    margin-right: 25.0%; }

  .grid-md-4 {
    width: 33.3333333333%; }

  .push-md-4 {
    left: 33.3333333333%; }

  .pull-md-4 {
    right: 33.3333333333%; }

  .prefix-md-4 {
    margin-left: 33.3333333333%; }

  .suffix-md-4 {
    margin-right: 33.3333333333%; }

  .grid-md-5 {
    width: 41.6666666667%; }

  .push-md-5 {
    left: 41.6666666667%; }

  .pull-md-5 {
    right: 41.6666666667%; }

  .prefix-md-5 {
    margin-left: 41.6666666667%; }

  .suffix-md-5 {
    margin-right: 41.6666666667%; }

  .grid-md-6 {
    width: 50%; }

  .push-md-6 {
    left: 50.0%; }

  .pull-md-6 {
    right: 50.0%; }

  .prefix-md-6 {
    margin-left: 50.0%; }

  .suffix-md-6 {
    margin-right: 50.0%; }

  .grid-md-7 {
    width: 58.3333333333%; }

  .push-md-7 {
    left: 58.3333333333%; }

  .pull-md-7 {
    right: 58.3333333333%; }

  .prefix-md-7 {
    margin-left: 58.3333333333%; }

  .suffix-md-7 {
    margin-right: 58.3333333333%; }

  .grid-md-8 {
    width: 66.6666666667%; }

  .push-md-8 {
    left: 66.6666666667%; }

  .pull-md-8 {
    right: 66.6666666667%; }

  .prefix-md-8 {
    margin-left: 66.6666666667%; }

  .suffix-md-8 {
    margin-right: 66.6666666667%; }

  .grid-md-9 {
    width: 75%; }

  .push-md-9 {
    left: 75.0%; }

  .pull-md-9 {
    right: 75.0%; }

  .prefix-md-9 {
    margin-left: 75.0%; }

  .suffix-md-9 {
    margin-right: 75.0%; }

  .grid-md-10 {
    width: 83.3333333333%; }

  .push-md-10 {
    left: 83.3333333333%; }

  .pull-md-10 {
    right: 83.3333333333%; }

  .prefix-md-10 {
    margin-left: 83.3333333333%; }

  .suffix-md-10 {
    margin-right: 83.3333333333%; }

  .grid-md-11 {
    width: 91.6666666667%; }

  .push-md-11 {
    left: 91.6666666667%; }

  .pull-md-11 {
    right: 91.6666666667%; }

  .prefix-md-11 {
    margin-left: 91.6666666667%; }

  .suffix-md-11 {
    margin-right: 91.6666666667%; }

  .grid-md-12 {
    width: 100%; }

  .push-md-12 {
    left: 100.0%; }

  .pull-md-12 {
    right: 100.0%; }

  .prefix-md-12 {
    margin-left: 100.0%; }

  .suffix-md-12 {
    margin-right: 100.0%; }

  .float-md-left {
    float: left; }

  .float-md-right {
    float: right; }

  .clear-md {
    clear: both; }

  .clear-md-left {
    clear: left; }

  .clear-md-right {
    clear: right; }

  .no-gutter-md,
  .no-margin-md {
    padding-left: 0;
    padding-right: 0; }

  .no-gutter-md-left,
  .no-margin-md-left {
    padding-left: 0; }

  .no-gutter-md-right,
  .no-margin-md-right {
    padding-right: 0; }

  .no-gutter-md-top,
  .no-margin-md-top {
    padding-top: 0; }

  .no-gutter-md-bottom,
  .no-margin-md-bottom {
    padding-bottom: 0; }

  .gutter-md,
  .margins-md {
    padding-left: 10px;
    padding-right: 10px; }

  .gutter-md-left,
  .margin-md-left {
    padding-left: 10px; }

  .gutter-md-right,
  .margin-md-right {
    padding-right: 10px; }

  .gutter-md-top,
  .margin-md-top {
    padding-top: 10px; }

  .gutter-md-bottom,
  .margin-md-bottom {
    padding-bottom: 10px; }

  .auto-height-md {
    height: inherit; }

  .centered-md {
    display: block !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    clear: both !important; }

  .parent-md {
    padding-left: 0;
    padding-right: 0; }

  .vertical-align-md-middle {
    font-size: 0;
    clear: both; }
    .vertical-align-md-middle > * {
      display: inline-block;
      float: none !important;
      vertical-align: middle;
      font-size: 1rem; }

  .vertical-align-md-top {
    font-size: 0;
    clear: both; }
    .vertical-align-md-top > * {
      display: inline-block;
      float: none !important;
      vertical-align: top;
      font-size: 1rem; }

  .vertical-align-md-bottom {
    font-size: 0;
    clear: both; }
    .vertical-align-md-bottom > * {
      display: inline-block;
      float: none !important;
      vertical-align: bottom;
      font-size: 1rem; }

  /**
   * Visible, hide, etc...
   */
  .hide-md {
    display: none; }

  .not-visible-md {
    visibility: hidden; }

  .show-md {
    display: block; }

  .show-inline-md {
    display: inline-block; }

  .visible-md {
    visibility: visible; }

  /**
   * Clear each class :
   */ }
@media screen and (min-width: 1200px) {
  .grid-lg-0 {
    width: 0%; }

  .push-lg-0 {
    left: 0%; }

  .pull-lg-0 {
    right: 0%; }

  .prefix-lg-0 {
    margin-left: 0%; }

  .suffix-lg-0 {
    margin-right: 0%; }

  .grid-lg-1 {
    width: 8.3333333333%; }

  .push-lg-1 {
    left: 8.3333333333%; }

  .pull-lg-1 {
    right: 8.3333333333%; }

  .prefix-lg-1 {
    margin-left: 8.3333333333%; }

  .suffix-lg-1 {
    margin-right: 8.3333333333%; }

  .grid-lg-2 {
    width: 16.6666666667%; }

  .push-lg-2 {
    left: 16.6666666667%; }

  .pull-lg-2 {
    right: 16.6666666667%; }

  .prefix-lg-2 {
    margin-left: 16.6666666667%; }

  .suffix-lg-2 {
    margin-right: 16.6666666667%; }

  .grid-lg-3 {
    width: 25%; }

  .push-lg-3 {
    left: 25.0%; }

  .pull-lg-3 {
    right: 25.0%; }

  .prefix-lg-3 {
    margin-left: 25.0%; }

  .suffix-lg-3 {
    margin-right: 25.0%; }

  .grid-lg-4 {
    width: 33.3333333333%; }

  .push-lg-4 {
    left: 33.3333333333%; }

  .pull-lg-4 {
    right: 33.3333333333%; }

  .prefix-lg-4 {
    margin-left: 33.3333333333%; }

  .suffix-lg-4 {
    margin-right: 33.3333333333%; }

  .grid-lg-5 {
    width: 41.6666666667%; }

  .push-lg-5 {
    left: 41.6666666667%; }

  .pull-lg-5 {
    right: 41.6666666667%; }

  .prefix-lg-5 {
    margin-left: 41.6666666667%; }

  .suffix-lg-5 {
    margin-right: 41.6666666667%; }

  .grid-lg-6 {
    width: 50%; }

  .push-lg-6 {
    left: 50.0%; }

  .pull-lg-6 {
    right: 50.0%; }

  .prefix-lg-6 {
    margin-left: 50.0%; }

  .suffix-lg-6 {
    margin-right: 50.0%; }

  .grid-lg-7 {
    width: 58.3333333333%; }

  .push-lg-7 {
    left: 58.3333333333%; }

  .pull-lg-7 {
    right: 58.3333333333%; }

  .prefix-lg-7 {
    margin-left: 58.3333333333%; }

  .suffix-lg-7 {
    margin-right: 58.3333333333%; }

  .grid-lg-8 {
    width: 66.6666666667%; }

  .push-lg-8 {
    left: 66.6666666667%; }

  .pull-lg-8 {
    right: 66.6666666667%; }

  .prefix-lg-8 {
    margin-left: 66.6666666667%; }

  .suffix-lg-8 {
    margin-right: 66.6666666667%; }

  .grid-lg-9 {
    width: 75%; }

  .push-lg-9 {
    left: 75.0%; }

  .pull-lg-9 {
    right: 75.0%; }

  .prefix-lg-9 {
    margin-left: 75.0%; }

  .suffix-lg-9 {
    margin-right: 75.0%; }

  .grid-lg-10 {
    width: 83.3333333333%; }

  .push-lg-10 {
    left: 83.3333333333%; }

  .pull-lg-10 {
    right: 83.3333333333%; }

  .prefix-lg-10 {
    margin-left: 83.3333333333%; }

  .suffix-lg-10 {
    margin-right: 83.3333333333%; }

  .grid-lg-11 {
    width: 91.6666666667%; }

  .push-lg-11 {
    left: 91.6666666667%; }

  .pull-lg-11 {
    right: 91.6666666667%; }

  .prefix-lg-11 {
    margin-left: 91.6666666667%; }

  .suffix-lg-11 {
    margin-right: 91.6666666667%; }

  .grid-lg-12 {
    width: 100%; }

  .push-lg-12 {
    left: 100.0%; }

  .pull-lg-12 {
    right: 100.0%; }

  .prefix-lg-12 {
    margin-left: 100.0%; }

  .suffix-lg-12 {
    margin-right: 100.0%; }

  .float-lg-left {
    float: left; }

  .float-lg-right {
    float: right; }

  .clear-lg {
    clear: both; }

  .clear-lg-left {
    clear: left; }

  .clear-lg-right {
    clear: right; }

  .no-gutter-lg,
  .no-margin-lg {
    padding-left: 0;
    padding-right: 0; }

  .no-gutter-lg-left,
  .no-margin-lg-left {
    padding-left: 0; }

  .no-gutter-lg-right,
  .no-margin-lg-right {
    padding-right: 0; }

  .no-gutter-lg-top,
  .no-margin-lg-top {
    padding-top: 0; }

  .no-gutter-lg-bottom,
  .no-margin-lg-bottom {
    padding-bottom: 0; }

  .gutter-lg,
  .margins-lg {
    padding-left: 10px;
    padding-right: 10px; }

  .gutter-lg-left,
  .margin-lg-left {
    padding-left: 10px; }

  .gutter-lg-right,
  .margin-lg-right {
    padding-right: 10px; }

  .gutter-lg-top,
  .margin-lg-top {
    padding-top: 10px; }

  .gutter-lg-bottom,
  .margin-lg-bottom {
    padding-bottom: 10px; }

  .auto-height-lg {
    height: inherit; }

  .centered-lg {
    display: block !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    clear: both !important; }

  .parent-lg {
    padding-left: 0;
    padding-right: 0; }

  .vertical-align-lg-middle {
    font-size: 0;
    clear: both; }
    .vertical-align-lg-middle > * {
      display: inline-block;
      float: none !important;
      vertical-align: middle;
      font-size: 1rem; }

  .vertical-align-lg-top {
    font-size: 0;
    clear: both; }
    .vertical-align-lg-top > * {
      display: inline-block;
      float: none !important;
      vertical-align: top;
      font-size: 1rem; }

  .vertical-align-lg-bottom {
    font-size: 0;
    clear: both; }
    .vertical-align-lg-bottom > * {
      display: inline-block;
      float: none !important;
      vertical-align: bottom;
      font-size: 1rem; }

  /**
   * Visible, hide, etc...
   */
  .hide-lg {
    display: none; }

  .not-visible-lg {
    visibility: hidden; }

  .show-lg {
    display: block; }

  .show-inline-lg {
    display: inline-block; }

  .visible-lg {
    visibility: visible; }

  /**
   * Clear each class :
   */ }
.center {
  text-align: center; }

@media screen and (max-width: 768px) {
  .center-xs {
    text-align: center; } }
@media screen and (min-width: 768px) {
  .center-sm {
    text-align: center; } }
@media screen and (min-width: 992px) {
  .center-md {
    text-align: center; } }
@media screen and (min-width: 1200px) {
  .center-lg {
    text-align: center; } }
.container {
  margin: 0 auto;
  max-width: 1080px; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: 'Titillium Web', sans-serif; }

p {
  margin-bottom: 1.5em; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

blockquote, q {
  quotes: "" ""; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02); }
  button:active, button:focus,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  textarea:focus {
    color: #111; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px; }

textarea {
  padding-left: 3px;
  width: 100%; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #4298B5; }
  a:visited {
    color: #347990; }
  a:hover, a:focus, a:active {
    color: #27596a; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
  width: 100%; }
  .main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0; }
    .main-navigation ul ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 1.5em;
      left: -999em;
      z-index: 99999; }
      .main-navigation ul ul ul {
        left: -999em;
        top: 0; }
      .main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {
        left: 100%; }
      .main-navigation ul ul a {
        width: 200px; }
    .main-navigation ul li:hover > ul,
    .main-navigation ul li.focus > ul {
      left: auto; }
  .main-navigation li {
    float: left;
    position: relative; }
  .main-navigation a {
    display: block;
    text-decoration: none; }

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block; }

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none; }

  .main-navigation ul {
    display: block; } }
.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%; }
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */ }
  .widget select {
    max-width: 100%; }

/* Search widget. */
.widget_search .search-submit {
  display: none; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.byline,
.updated:not(.published) {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery-caption {
  display: block; }

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
.site-header {
  background-color: #006747;
  padding-left: 0;
  padding-right: 0;
  color: white; }
  .site-header a {
    color: white; }
    .site-header a:hover {
      color: black; }

.site-content {
  padding-top: 20px; }

.site-branding {
  float: left;
  direction: ltr;
  padding-left: 10px;
  padding-right: 10px; }
  @media screen and (min-width: 768px) {
    .site-branding {
      width: 33.3333333333%; } }

.main-navigation {
  float: left;
  direction: ltr;
  padding-left: 10px;
  padding-right: 10px; }
  @media screen and (min-width: 768px) {
    .main-navigation {
      width: 66.6666666667%; } }

.site-main {
  float: left;
  direction: ltr;
  padding-left: 10px;
  padding-right: 10px; }
  @media screen and (min-width: 768px) {
    .site-main {
      width: 66.6666666667%; } }

.widget-area {
  float: left;
  direction: ltr;
  padding-left: 10px;
  padding-right: 10px; }
  @media screen and (min-width: 768px) {
    .widget-area {
      width: 33.3333333333%; } }
