// import gridle
@import "gridle/gridle";

// setting up the grid
@include gridle_setup( (
	context : 12,
	gutter-width : 20px
	// etc...
) );

@include gridle_register_state( xs, (
    max-width : 768px
) );
@include gridle_register_state( sm , (
    min-width : 768px
) );
@include gridle_register_state( md, (
    min-width : 992px
) );
@include gridle_register_state( lg, (
    min-width : 1200px
) );

[class*="grid-"] {
    @include gridle_state( xs ) {
        width:100%;
    }
}

// even with full custom queries :
// @include gridle_register_state ( landscape, (
// 	query : "(orientation : landscape)"
// ) );
